@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://db.onlinewebfonts.com/c/51ba22ae06790efd464bde752a2cd9d1?family=Flexo-Regular');
@import url('https://db.onlinewebfonts.com/c/d2d21cf0ee4c1d969d8a4dccc587ab26?family=Flexo-Medium');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #424242 url(./images/body_bg.png);
    font-family: 'Flexo-Regular', arial, sans-serif;
    font-size: 16px;
    color: #fff;
    height: 100%;
}

.txt-links{
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #46464c;
}
.main-heading{
    font-family: 'Flexo-Medium', arial, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
}
.heading-description{
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #46464c;
}
.container-navbar{
    max-width: 931px;
    width: 100%;
    margin: 0 auto;
}



.header{
    width: 100%;
    height: auto;
    background: #f5f5f5;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
}
.header .container-navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    text-align: center;
}
.header .container-navbar ul li{
    list-style: none;
    padding: 6px 10px;
}
.header .container-navbar ul li:first-child{
    background: #ffffff;
    box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999; 
width: auto;
height: 100%;
}
.header .container-navbar ul li:nth-child(2),
.header .container-navbar ul li:nth-child(3){
    border-right: 1px solid #dedede;
}
.header .container-navbar ul li .insetimg{
    border-width: 2px;
    border-style: inset; 
    Border-color: #aeaeb1;
    margin: 5px 0;
}

.navbar-second{
    background: #ffffff;
    height: 92px;
    width: 100%;
}